a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;

}

.header {
    background-color: #FAFAFA;
       
}
.header-container {
    display: flex;
    align-items: center;
}
.container {
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    
}
.header-list {
    display: flex;
    margin-left: 433px;
    gap: 31px;
}
.header-item {
}
.header-link {
    display: block;
    padding-top: 47px;
    padding-bottom: 47px;
}
.header-btn {
    margin-left: auto;
}

.hero {
  background: #F1F1F2;
}

.hero-container {
  display: flex;
}

.wraper {
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.hero-title {
font-size: 56px;
line-height: 69px;
margin-bottom: 36px;

}
.hero-text {
font-size: 20px;
line-height: 140.62%;
margin-bottom: 60px;
}

.content-box {
  width: 433px;
}